<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simpletodolist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="내일 지구가 멸망해도 일기 정돈 괜찮잖아"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".view.TreeListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ReadDiaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.TreeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.WriteDiaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>